<launch>

    <node pkg="panther_driver" name="panther_driver" type="driver_mix.py" output="screen" required="true">
        <param name="can_interface" type="string" value="panther_can"/>
        <param name="wheel_type" type="string" value="classic"/> <!-- "classic" / "mecanum" / "mix" -->
        <param name="eds_file" type="string" value="$(find panther_driver)/params/roboteq_motor_controllers_v60.eds"/>
    </node>

</launch>
