<launch>
    <node pkg="panther_driver" name="battery_driver" type="battery_node.py" output="screen" required="true">
        <param name="measurements_file" type="string" value="$(find panther_driver)/params/measurements.yaml"/>
        <param name="eds_file" type="string" value="$(find panther_driver)/params/roboteq_motor_controllers_v60.eds"/>
    </node>
</launch>
