<launch>
    <arg name="use_kalman" default="false" doc="Enable/Disable kalman filter"/>
    <arg name="wheel" default="offroad" doc="Type of wheel. Possible: WH01, WH02, WH04. For more info reffer to manual"/>

    <!-- wheel definition -->
    <group if="$(eval wheel == 'WH01')">
        <include file="$(find panther_driver)/launch/panther_driver.launch">
            <arg name="robot_width" value="0.697"/>
            <arg name="wheel_radius" value="0.1825"/>
            <arg name="kinematics_type" value="classic"/>
            <arg name="kalman_params" value="$(arg kalman_params)"/>
        </include>
    </group>

    <group if="$(eval wheel == 'WH04')">
        <include file="$(find panther_driver)/launch/panther_driver.launch">
            <arg name="robot_width" value="0.616"/>
            <arg name="wheel_radius" value="0.1015"/>
            <arg name="kinematics_type" value="classic"/>
            <arg name="kalman_params" value="$(arg kalman_params)"/>
        </include>
    </group>

    <group if="$(eval wheel == 'WH02')">
        <include file="$(find panther_driver)/launch/panther_driver.launch">
            <arg name="robot_width" value="0.6785"/>
            <arg name="wheel_radius" value="0.1015"/>
            <arg name="kinematics_type" value="mecanum"/>
            <arg name="kalman_params" value="$(arg kalman_params)"/>
        </include>
    </group>
    
</launch>