<launch>

    <node pkg="joy" type="joy_node" name="joy">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.0"/>
        <param name="autorepeat_rate" value="5"/>
        <param name="coalesce_interval" value="0.1"/>
    </node>

    <arg name="teleop_config" default="$(find panther_driver)/params/joy_teleop.yaml" />
    <rosparam file="$(arg teleop_config)" command="load" />
    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    </node>

</launch>