[Unit]
Description=Set soft stop pin
After=NetworkManager.service time-sync.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/power_gpio.py
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=multi-user.target